DATABASE_URL=
JWT_SECRET=

PUBLIC_URL=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_TOKEN_VALUE=
CLOUDFLARE_R2_PUBLIC_DOMAIN=

CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=

RESEND_API_TOKEN=

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID_PRO=
STRIPE_PRICE_ID_ULTRA=
STRIPE_PRICE_ID_GOLD=
STRIPE_WEBHOOK_SECRET=